#lottery {
  display: flex;
  align-items: center;
}

#bonus {
  display: flex;
  align-items: center;
}

#lottery > div {
  margin: 10px;
  border: 1px black solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bonus > div {
  margin: 10px;
  border: 1px black solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
