.contain {
  width: 100px;
  height: 100px;
  background-color: aqua;
  display: flex;
  overflow: auto;
}

.contain div {
  padding: 30px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: blue;
}
