@import "reset.css";
@import "variables.css";

/* component */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/find-icons.css";
@import "component/alt-screen.css";
@import "component/no-mobile.css";

/* screen */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/search.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chatting.css";

body {
  display: flex;
  flex-flow: column;
  font-family: "Times New Roman", Times, serif;
  height: 500vh;
  width: 100%;
}
