body{
    margin: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.logo {
padding: 20px 20px;
}

.menu {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    margin: 0;
}

.menu li{
    padding: 15px 15px;
}

.menu li:hover{
    background-color: darkorange;
    border-radius: 8px;
}

.menu li:active{
    background-color: blue;
    color: white;
}

.link {
    display: flex; 
}

.link li{
    padding: 15px 15px;
}

.toggle {
    display: none;
}

@media screen and (max-width: 700px){

    .contain{
        flex-direction:column;
        align-items: center;
        background: green;
    }

    .menu{
        display: none;
        flex-direction:column;
        padding: 0;
    }

    .link{
        padding: 0;
        display: none;
    }

    .toggle {
        position: absolute;
        display: block;
        top: 15px;
        right: 10px;
    }

    .menu.active,
    .link.active{
        display: flex;
    }

}