.more-user-component {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.more-user-component img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin: 10px 10px 10px 0;
}

.more-user-component span {
  display: block;
  margin: 5px;
}
.more-user-component-icon {
  font-size: 25px;
  color: black;
  position: absolute;
  right: 20px;
}
.more-suggestions {
  border-top: var(--main-border);
}
.more-suggestion-title {
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
}

.more-suggestion-icon-image {
  display: flex;
  width: 25%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.more-suggestion-icon-image img {
  width: 70px;
  height: 70px;
  border-radius: 21px;
}

.more-suggestion-icon {
  margin: 27px;
  display: flex;
  flex-flow: row;
}
.find-icons {
  border: 0;
}
