body {
  background-color: rgb(203, 203, 203);
}

main {
  margin: auto;
}

li {
  list-style: none;
}

header {
  background: linear-gradient(45deg, skyblue, violet, orange);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  color: white;
  font-size: 18px;
}

section {
  background-color: rgb(240, 240, 227);
  width: 250px;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.testClass {
  display: flex;
  justify-content: space-between;
}

.testClass button,
li {
  margin: 0 10px;
}

.testClass button:hover {
  transform: scale(1.1);
}

.testClass button {
  border: none;
}

#listDiv {
  overflow-y: auto;
}

#inputText input {
  width: 100%;
  height: 20px;
  border-style: none;
  padding: 0;
}

footer {
  width: 250px;
  height: 50px;
  background: linear-gradient(45deg, violet, skyblue, orange);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
